html {
  font-size: 16px;
}

body {
  border: 1px solid green; /*Remove*/

  max-width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

} 

/*HEADER*/
.page__header {
  border: 1px solid red; /*Remove*/
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 100vw;
}

.header__inner__container{
  border: 1px solid blue; /*Remove*/
  
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  width: 61.5625rem;

  margin: 0.4rem;
}

.header__logo {
  border: 1px solid purple; /*Remove*/

  width: 13.75rem;
  height: 4.8125rem;
}

.header__menu {
  border: 1px solid purple; /*Remove*/

  width: 44.75rem;
  height: 4.8125rem;
}

.burger__menu {
  display: none;

  width: 3rem;
  height: 3rem;
}

/*CAROUSEL*/
.carousel__image {
  border: 1px solid red; /*Remove*/
  
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;

  
  width: 100vw;
}

.carousel__inner__container {
  border: 1px solid blue; /*Remove*/

  background-image: url("../img/placeholder.svg");*/
  background-size: auto;

  display: flex;
  flex-direction: row;
  align-items: center;

  
  width: 77.5rem;
  height: 30.375rem;

  margin: 0.4rem;
}

.carousel__banner {
  width: 77.5rem;
  height: 30.375rem;
}

.carousel__list__text {

}

.carousel__button {
  border: 1px solid blue; /*Remove*/

  width: 3rem;
  height:3rem;
}

.button__left {
  margin-left: 3rem;
}

.button__right {
  margin-left: 65rem;
  
}
/* TITLE */
.title {
  border: 1px solid red; /*Remove*/
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 100vw;
}

.title__inner__container {
  border: 1px solid blue; /*Remove*/
  
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  
  width: 61.5625rem;
  height: 10.3125rem;

  margin: 0.8rem;
}

.title__item {
  border: 1px solid yellow; /*Remove*/
  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  text-align:center;
  max-width: 60.0625rem;
  height: 8.9375rem;

  margin: 0.8rem auto;
}

/*EXPLANATION*/

.explanation {
  border: 1px solid red; /*Remove*/
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 100vw;
}

.explanation__inner__container {
  border: 1px solid blue; /*Remove*/
  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  margin: 0.8rem;
}

.explanation__flex {
  border: 1px solid yellow; /*Remove*/

  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0.4rem;

  text-align:center
}

.explanation__title {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: auto;
  height: 3.5rem;
}

.explanation__title__header {
  margin: 0;
}


.explanation__item {
  border: 1px solid yellow; /*Remove*/

  width: 14.5rem;
  height: 16rem;

  margin: 0.3rem;
}

/* Small only */
@media screen and (max-width: 39.9375em) {
  .header__logo {
    width: 10rem;
    height: 3rem;
  }
  .header__menu {
    display: none;
  }
  .burger__menu {
    display: block;
  }
  .carousel__image {
    display:none
  }

  .header__inner__container{
    max-width: 100vw;
  }

  .explanation__flex {
    border: 1px solid yellow; /*Remove*/
  
    display:flex;
    flex-direction: column;
  }
  
  .explanation__item {
    border: 1px solid yellow; /*Remove*/
  
    width: 18.5rem;
    height: 8rem;
  
    margin: 0.3rem;
  }
}


/* Medium and up */
@media screen and (min-width: 40em) {

}
/* Medium only */
@media screen and (min-width: 40em) and
(max-width: 63.9375em) {}
/* Large and up */
@media screen and (min-width: 64em) {}
/* Large only */
@media screen and (min-width: 64em) and
(max-width: 74.9375em) {}
