html {
  font-size: 16px;
}

body {
  border: 1px solid red; /*Remove*/
  margin: 0;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
} 

/*HEADER*/
.page__header {
  border: 1px solid red; /*Remove*/
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 100vw;
  height: 6.75rem;
}

.header__inner__container{
  border: 1px solid blue; /*Remove*/
  
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  width: 61.5625rem;
  height: 5.9rem;

  margin: 0.1%;
}

.header__logo {
  border: 1px solid purple; /*Remove*/

  width: 13.75rem;
  height: 4.8125rem;
}

.header__menu {
  border: 1px solid purple; /*Remove*/

  width: 44.75rem;
  height: 4.8125rem;
}